html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(../img/bg2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed
}

ul {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul li {
    display: inline;
    padding: 0.3em 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #A9A8A8;
}

.active {
    font-weight: bold;
    background-color: #f2f2f2;
    transition: background-color .8s;
}

table {
    width: 600px;
}

th {
    background-color: #51565A;
    color: white;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 0.3em;
    text-align: left;
}

#pagcontent {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
